# Data Science Tools and Ecosystem
## Author
Kylie Bryant-Rider

In this notebook, Data Science Tools and Ecosystem are summarized.

Objectives:
- List popular languages for Data Science
- List popular libraries for Data Science
- Create a table of Data Science Tools
- Perform some calculations with comments.

Some of the popular languages that Data Scientists use are:
1. Python
2. R
3. Julia

Some of the commonly used libraries used by Data Scientists include:
1. Pandas
2. TensorFlow
3. Matplotlib

 | Data Science Tools |  
 |---|
 | Hadoop  |
 | Apache Spark |
 | RStudio ||

### Below are a few examples of evaluating arithmetic expressions in Python

In [9]:
3*5

15

In [10]:
652/2

326.0

This a simple arithmetic expression to mutiply then add integers

In [13]:
(3*4)+5

17

 This will convert 200 minutes to hours by diving by 60

In [17]:
200/60

3.3333333333333335